<html>
    <head>
        <title>
            <%=title %>

        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <script src="https://kit.fontawesome.com/8e6acf52e0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>

        </header>
        <div class = "todo-form">
            <form action="/create-planner" method = "POST">
                <div class = item>
                <input type = "text" name = "item" placeholder = "input task">
                </div>
                <div class = "date-category">
                <input type="date" name="date" placeholder="enter due date..">
                <select name = "category">
                    <option value="work">WORK</option>
                    <option value="personal">PERSONAL</option>
                </select>
                </div>
                <div class = "button-submit">
                <button type="submit" class = "submit"><i class = "fas fa-plus"></i>Add to Planner</button>
            </div>
            </form>
        </div>
        
        <div class = "todo-list-container">
            <ul>
                <%for (let i of todoItems){%>
                    <li class = "list">
                        <p><%=i.item%></p>
                        <p><%=i.category%></p>
                        <p><%=i.date%></p>
                        <div class = "delete-button">
                            <a href = "/delete-item/?id=<%=i._id%>">
                            <i class = "fas fa-check"></i></a>
                        </div>
                    </li>  
                <%}%>
            </ul>
        </div>
    
        
    </body>
</html>